* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.view-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f1f1f1; }
  .view-wrapper .content-body {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%; }

.side-bar {
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #ffffff; }
  .side-bar h1 {
    font-weight: normal;
    font-size: 24px;
    display: block;
    background: #92bbfc;
    color: #ffffff;
    padding: 10px; }
  .side-bar div {
    padding: 10px; }
    .side-bar div p {
      margin-bottom: 10px; }
  .side-bar ul li {
    list-style: none;
    display: block; }

.dockmessage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .dockmessage p {
    margin-bottom: 10px; }
    .dockmessage p:last-child {
      margin-bottom: 0; }

.dockmessage.styled {
  padding: 20px;
  border: 1px solid #7eaefc;
  border-radius: 5px;
  background: #c7dbfc; }

.btn {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-left: 25px;
  border-radius: 5px; }
  .btn .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 5px; }

.btn.disabled {
  opacity: 0.7;
  cursor: not-allowed;
  -webkit-box-shadow: 0 0 5px #000000 inset;
          box-shadow: 0 0 5px #000000 inset; }

.btn.primary {
  background: #abcafc;
  border: 1px solid #5f9bfc;
  color: #ffffff; }

.btn:not(.disabled) {
  cursor: pointer;
  opacity: 0.7; }
  .btn:not(.disabled):hover {
    opacity: 1; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto; }
  .modal .modal-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    min-width: 400px;
    max-width: 80%;
    margin-top: 50px; }
    .modal .modal-overlay:after {
      display: block;
      content: '';
      padding: 10px;
      position: absolute; }
    .modal .modal-overlay:after {
      top: 100%; }
    .modal .modal-overlay h1 {
      font-weight: normal;
      font-size: 24px;
      margin-bottom: 20px; }

.floating-menu {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: block;
  z-index: 99; }
  .floating-menu ul {
    list-style: none; }
  .floating-menu .outer li > span {
    font-size: 40px;
    cursor: pointer;
    color: #498dfc; }
  .floating-menu .inner.shown {
    bottom: calc(100% + 10px);
    opacity: 1;
    visibility: visible; }
  .floating-menu .inner.hidden {
    bottom: 200%;
    opacity: 0;
    visibility: hidden; }
  .floating-menu .inner {
    border: 1px solid #498dfc;
    background: #498dfc;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    display: block;
    position: absolute;
    color: #ffffff;
    bottom: calc(100% + 10px);
    right: 0;
    width: 200px; }
    .floating-menu .inner a.disabled {
      cursor: not-allowed;
      color: gray; }
    .floating-menu .inner a:not(.disabled) {
      cursor: pointer;
      opacity: 0.7; }
      .floating-menu .inner a:not(.disabled):hover {
        opacity: 1; }
    .floating-menu .inner a {
      display: block;
      padding: 5px; }
    .floating-menu .inner:after {
      display: block;
      position: absolute;
      bottom: -10px;
      right: 5px;
      content: '';
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 10px solid #498dfc; }
