* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.no-bullet {
  list-style: none; }

.form-uls li {
  margin-bottom: 10px; }
  .form-uls li:last-child {
    margin-bottom: 0; }

.danger-color, .error-message {
  color: #fc4a32; }

.error-message {
  margin-bottom: 3px; }
  .error-message:last-child {
    margin-bottom: 0; }

.in-line-ul li {
  display: inline-block;
  margin-right: 10px; }
  .in-line-ul li:last-child {
    margin-right: 0; }

.broken-lines {
  border-bottom: 1px dashed #abcafc;
  color: #abcafc;
  cursor: pointer; }

.task-list {
  margin: 10px;
  width: calc(100% - 20px);
  border: 1px solid #d0d1d5;
  background: #ffffff; }
  .task-list tr.odd {
    background: #d4d5d6; }
  .task-list th {
    padding: 10px;
    background: #006699;
    color: #ffffff;
    font-weight: normal; }
  .task-list td {
    padding: 10px;
    border: 1px solid #d0d1d5; }
    .task-list td:last-child {
      width: 150px; }
  .task-list a {
    cursor: pointer;
    opacity: 0.6; }
    .task-list a:hover {
      opacity: 1; }
  .task-list .playing {
    color: blue; }

.notifications-list {
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: 300px; }
  .notifications-list .notification {
    -webkit-animation: notification-e 300ms;
            animation: notification-e 300ms;
    position: relative;
    display: block;
    background: #006699;
    padding: 10px;
    color: #ffffff;
    z-index: 99;
    margin-bottom: 10px; }
    .notifications-list .notification:last-child {
      margin-bottom: 0; }
    .notifications-list .notification a {
      margin-top: 5px;
      display: inline-block;
      opacity: 0.7;
      text-decoration: underline;
      -webkit-text-decoration-style: dashed;
              text-decoration-style: dashed;
      cursor: pointer; }
      .notifications-list .notification a:hover {
        opacity: 1; }

@-webkit-keyframes notification-e {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

@keyframes notification-e {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

.new-task-fields-wrapper:after {
  content: '';
  display: block;
  position: relative;
  clear: both; }

.new-task-fields-wrapper .new-task-field {
  position: relative; }
  .new-task-fields-wrapper .new-task-field table tr {
    display: block; }
    .new-task-fields-wrapper .new-task-field table tr:hover {
      background: #f1f1f1; }
  .new-task-fields-wrapper .new-task-field table td {
    padding: 5px;
    vertical-align: unset; }
  .new-task-fields-wrapper .new-task-field .remove-field {
    display: block;
    vertical-align: baseline;
    font-size: 30px;
    cursor: pointer; }

.with-icon:not(.stand-alone) {
  position: relative;
  padding-left: 22px;
  display: inline-block; }
  .with-icon:not(.stand-alone) .icon {
    position: absolute;
    left: 5px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 14px; }

.view-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f1f1f1; }
  .view-wrapper .content-body {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%; }

.side-bar {
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #ffffff; }
  .side-bar h1 {
    font-weight: normal;
    font-size: 24px;
    display: block;
    background: #92bbfc;
    color: #ffffff;
    padding: 10px; }
  .side-bar div {
    padding: 10px; }
    .side-bar div p {
      margin-bottom: 10px; }
  .side-bar ul li {
    list-style: none;
    display: block; }

.dockmessage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .dockmessage p {
    margin-bottom: 10px; }
    .dockmessage p:last-child {
      margin-bottom: 0; }

.dockmessage.styled {
  padding: 20px;
  border: 1px solid #7eaefc;
  border-radius: 5px;
  background: #c7dbfc; }

.modal-wrapper, .modal-bg, .modal-overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal-wrapper {
  z-index: 100; }
  .modal-wrapper .modal-bg {
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    -webkit-animation: modal-bg 300ms;
            animation: modal-bg 300ms; }
  .modal-wrapper .modal-overlay-wrapper {
    overflow: auto;
    z-index: 101; }
    .modal-wrapper .modal-overlay-wrapper .dismiss-btn.disabled {
      cursor: not-allowed;
      opacity: 0.35; }
    .modal-wrapper .modal-overlay-wrapper .dismiss-btn {
      display: block;
      position: absolute;
      top: 10px;
      right: 5px;
      color: #ffffff;
      display: block;
      padding: 5px;
      cursor: pointer; }
      .modal-wrapper .modal-overlay-wrapper .dismiss-btn .with-icon {
        padding: 0; }
        .modal-wrapper .modal-overlay-wrapper .dismiss-btn .with-icon .icon {
          position: relative;
          font-size: 28px; }
  .modal-wrapper .modal-overlay {
    -webkit-animation: modal-o 300ms;
            animation: modal-o 300ms;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 50px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px #000000;
            box-shadow: 0 0 5px #000000;
    padding: 20px;
    border-radius: 5px;
    display: block; }
    .modal-wrapper .modal-overlay h1.title {
      font-weight: normal;
      font-size: 24px;
      margin-bottom: 20px; }
    .modal-wrapper .modal-overlay:after, .modal-wrapper .modal-overlay:before {
      display: block;
      content: '';
      padding: 10px;
      position: absolute; }
    .modal-wrapper .modal-overlay:after {
      top: 100%; }

@-webkit-keyframes modal-o {
  0% {
    top: -100%; }
  100% {
    top: 50px; } }

@keyframes modal-o {
  0% {
    top: -100%; }
  100% {
    top: 50px; } }

@-webkit-keyframes modal-bg {
  0% {
    background: transparent; }
  100% {
    background: rgba(0, 0, 0, 0.5); } }

@keyframes modal-bg {
  0% {
    background: transparent; }
  100% {
    background: rgba(0, 0, 0, 0.5); } }

.floating-menu {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: block;
  z-index: 99; }
  .floating-menu ul {
    list-style: none; }
  .floating-menu .outer li > span {
    font-size: 40px;
    cursor: pointer;
    color: #498dfc; }
  .floating-menu .inner.shown {
    bottom: calc(100% + 10px);
    opacity: 1;
    visibility: visible; }
  .floating-menu .inner.hidden {
    bottom: 200%;
    opacity: 0;
    visibility: hidden; }
  .floating-menu .inner {
    border: 1px solid #498dfc;
    background: #498dfc;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    display: block;
    position: absolute;
    color: #ffffff;
    bottom: calc(100% + 10px);
    right: 0;
    width: 200px; }
    .floating-menu .inner a.disabled {
      cursor: not-allowed;
      color: gray; }
    .floating-menu .inner a:not(.disabled) {
      cursor: pointer;
      opacity: 0.7; }
      .floating-menu .inner a:not(.disabled):hover {
        opacity: 1; }
    .floating-menu .inner a {
      display: block;
      padding: 5px; }
    .floating-menu .inner:after {
      display: block;
      position: absolute;
      bottom: -10px;
      right: 5px;
      content: '';
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 10px solid #498dfc; }

.btn {
  position: relative;
  display: inline-block;
  padding: 5px;
  border-radius: 5px; }
  .btn .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 5px;
    font-size: auto; }

.btn.disabled {
  opacity: 0.35;
  cursor: not-allowed; }

.btn.primary {
  background: #abcafc;
  border: 1px solid #5f9bfc;
  color: #ffffff; }

.btn.cancel {
  background: #fc9385;
  border: 1px solid #fc4a32;
  color: #ffffff; }

.btn:not(.disabled):not(.loading) {
  cursor: pointer;
  opacity: 0.7; }
  .btn:not(.disabled):not(.loading):hover {
    opacity: 1; }

.btn.loading {
  cursor: wait; }

.form-input-text-wrapper p:not(.error-message) small {
  margin-left: 5px;
  color: gray; }

.form-input-text-wrapper input[type=text] {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  padding: 8px;
  background: #ffffff;
  display: block; }
  .form-input-text-wrapper input[type=text]:focus {
    -webkit-box-shadow: 0 0 5px #c9c9c9;
            box-shadow: 0 0 5px #c9c9c9; }

.form-input-text-wrapper input[type=text].disabled {
  opacity: 0.35;
  cursor: not-allowed; }

.form-input-text-wrapper input[type=text].occupy-space {
  width: 100%; }

.form-input-text-wrapper input[type=text].medium {
  width: 300px; }

.form-input-text-wrapper input[type=text].long {
  width: 400px; }

.form-input-text-wrapper input[type=text].with-errors {
  border: 1px solid #fc4a32;
  color: #fc4a32; }
  .form-input-text-wrapper input[type=text].with-errors:focus {
    -webkit-box-shadow: 0 0 5px #fc4a32;
            box-shadow: 0 0 5px #fc4a32; }

.form-input-textarea-wrapper p small {
  margin-left: 5px;
  color: gray; }

.form-input-textarea-wrapper textarea {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  padding: 8px;
  resize: vertical;
  min-height: 250px;
  background: #ffffff; }
  .form-input-textarea-wrapper textarea:focus {
    -webkit-box-shadow: 0 0 5px #c9c9c9;
            box-shadow: 0 0 5px #c9c9c9; }

.form-input-textarea-wrapper textarea.disabled {
  opacity: 0.35;
  cursor: not-allowed; }

.form-input-textarea-wrapper textarea.occupy-space {
  width: 100%; }

.form-input-textarea-wrapper textarea.with-errors {
  border: 1px solid #fc4a32;
  color: #fc4a32; }
  .form-input-textarea-wrapper textarea.with-errors:focus {
    -webkit-box-shadow: 0 0 5px #fc4a32;
            box-shadow: 0 0 5px #fc4a32; }
