.task-list
	margin: 10px
	width: calc(100% - 20px)
	background: #ffffff
	tr.odd
		background: #d4d5d6
	th
		padding: 10px
		background: #006699
		color: #ffffff
		font-weight: normal
	td
		padding: 10px
		&:last-child
			width: 150px
	a
		cursor: pointer
		opacity: 0.6
		&:hover
			opacity: 1
	.playing
		color: blue